/.ipynb_checkpoints
*.ipynb
/.idea
*.pickle
*.log
*.json
*.txt
*.egg
NseWeb.egg-info
__pycache__
dist
build
garbage
ddo_ahd.csv
.gitignore
nseapi/import csv.py
testAsyncio.py
nseapi/financial/Ind AS Taxonomy-2020-03-31 CSV.csv
nseapi/financial/testFinancial.py
instantclient_21_7
scrapper/nseapi/financial/Ind AS Taxonomy-2020-03-31 CSV.csv
scrapper/nseapi/import csv.py
tmp_test.py
.pylintrc
